body	{margin:0px;
 padding:0px}

a	{color:#33aaaa}
a:hover	{color:#00cc00}

/* === ヘッダー部分のスタイル === */

.head	{background-color:#32d4a9;
 width:90%;
 height:70px}

.head1	{width:45px;
 text-align:right}

.head2	{padding-left:10px}

.head3 {text-align:center;
 margin-top:10px;}

.head h1	{font-size:32px;
 font-family:ＤＦＰ太丸ゴシック体;
 color:white;
 margin-bottom:1px}

.head div	{font-size:14px;font-family:'Comic Sans MS';
 color:white;
 margin-bottom:1px}

.headmenu	{background-color:#336666;
 width:90%;
 text-align:right;
 font-size:11px;
 color:white}

.headmenu a	{color:white;
 text-decoration:none}
.headmenu a:hover	{color:orange}

/* === サイドバーとコンテンツ部分のスタイル === */

.side_main	{width:90%;
    margin-top:10px;
    margin-left:0px;
 height:100%}


/* === サイドバー部分のスタイル === */

.side1, .side2	{width:135px;
 background-color:#32d4a9}

.side1	{vertical-align:top;
 padding:0px}

.side1 div	{font-size:11px;
 font-family:ＭＳ　Ｐゴシック;
text-align:center;
 font-weight:bold;
 border-bottom:solid 0px white;
}

.side1 a	{color:#444444;
 text-decoration:none;
 display:block;
  padding-top:10px;
 padding-bottom:8px;
 padding-left:0px;
 padding-right:0px}
.side1 a:hover	{color:white;
background-color:#336666}

.sidemenu1	{margin-top:20px;
 border-top:solid 0px white}





/* === コンテンツ部分のスタイル === */

.main	{width:462px;
 padding-left:30px;
 padding-right:0px;
 padding-top:0px;
 padding-bottom:0px;
 vertical-align:top}

.main h1	{font-size:18px;
color:#444444;
 font-family:ＤＦＰ太丸ゴシック体}

.main h1 img	{vertical-align:middle;
 margin-right:8px}

.main h2	{background-color:#32d4a9;
 font-size:16px;
 color:white;
 padding:5px 6px 3px}

.main p	{font-size:14px;
 line-height:160%;
 color:#333333}

.photo td	{vertical-align:bottom;
 font-size:12px;
 padding:0px}
.photo img	{margin-right:8px}

.link	{width:100%;
 font-size:smaller}

.link1	{text-align:left}
.link2	{text-align:center}
.link3	{text-align:right}

.logo {padding-top:10px;
    font-size:10px;}


/* === サイドバー部分（右）のスタイル === */

.side2	{vertical-align:top;
 width:140px;
 padding-right:20px;
 padding-left:20px}

.space2	{width:140px;
 height:1px}

.side2 .submenu	{font-size:12px;
 font-family:Arial, Helvetica;
 color:white;
 background-color:#2c6b5a;
 padding:3px 8px;
 margin-top:30px;
 margin-bottom:0px}

.side2 .submenu2	{background-color:#befae9;
 margin-top:0px;
 padding:8px}

.side2 div	{font-size:12px;
 margin-bottom:10px}

.side2 a	{color:#333333}

.side2 img	{border:none}